@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
}
.slick-track{
  display: flex !important;
  gap: 14px !important;
}
.slick-arrow{
  display: none !important;
}
.slick-dots li button:before {
  font-size: 7px !important;
}
 
@media (min-width:991.99px) {
  .slick-dots li button:before {
    font-size: 10px !important;
  }
}